/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-cover);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
  padding: 10px;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 19px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__rec::after {
  content: "";
  background-color: var(--accent-color);
  border-radius: 50%;
  display: block;
  width: 9px;
  height: 9px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--main-title-color);
  border: 1px solid transparent;
  text-transform: lowercase;
  padding: 1px 13px;
  line-height: 1;
  font-size: 18px;
  height: 26px;
  width: 70px;
  transition: .2s ease-in-out;
}

.header__theme-menu-button_active {
  border-color: var(--main-title-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--border-hover);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--main-title-color);
  outline: none;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  font-weight: 700;
  line-height: 83%;
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  max-width: 364px;
}

.main {
  padding: 40px 10px;
  display: grid;
  gap: 50px;
}

.main__content {
  display: grid;
  gap: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.main__title {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--main-title-color);
}

.main__rules {
  display: grid;
  gap: 20px;
}

.main__content_name_gallery {
  gap: 10px;
}

.cards {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  gap: 10px;
}

.card__text {
  font-weight: 400;
  color: var(--text-color);
  line-height: 23.4px;
}

.card__link {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}

.card__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.card__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__image {
  width: 100%;
}

.footer {
  height: 100vh;
  min-height: 667px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px 20px 20px 0;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__rec {
    top: 20px;
    right: 29px;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .main__content {
    grid-template-columns: 1fr 2fr;
  }

  .main__content_name_concentration {
    grid-template-columns: 1fr;
  }

  .main__content_name_concentration .main__title {
    max-width: 236px;
  }

  .main__content_name_gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .gallery__image {
    object-fit: cover;
    height: 100%;
  }

  .gallery__image:first-child {
    grid-column-start: span 2;
  }

  .gallery__image:nth-child(2) {
    grid-row-start: span 2;
  }

  .gallery__image:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .gallery__image:last-child {
    grid-column-start: span 2;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-left: 20px;
  }

  .header__theme-menu-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header__subtitle {
    max-width: 491px;
  }

  .main__content .cards {
    min-width: 649px;
  }

  .main__content_name_concentration .main__title {
    max-width: 315px;
  }

  .main__content_name_concentration .cards {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
  }

  .main__rules {
    min-width: 649px;
  }

  .main__content_name_gallery {
    gap: 20px;
  }
}
